<div class="author">
  <div class="author--media">
    <nav class="fabs">
      <a class="fab large ripple email" href="mailto://bnguyen@outlook.com">
        <i class="mdi mdi-email"></i>
      </a>
      <a class="fab large ripple github" href="https://github.com/bnguyen86">
        <i class="mdi mdi-github-circle"></i>
      </a>
      <a class="fab large ripple linkedin" href="https://ca.linkedin.com/in/benjamin-nguyen-73875218">
        <i class="mdi mdi-linkedin"></i>
      </a>
    </nav>
    <img class="image" src="{{image}}" />
  </div>
  <div class="author--info">
    <h5 class="name">{{name}}</h5>
    <p class="bio">{{bio}}</p>
  </div>
</div>
