    <!-- Spacer -->
    <div class="navbar--spacer"></div>
    <!-- Links -->
    <nav class="navbar--nav">
      <a class="navbar--nav-link ripple" href="/tag/projects/">
        <i class="mdi mdi-code-tags"></i>
        Projects
      </a>
      <a class="navbar--nav-link ripple" href="/resume/">
        <i class="mdi mdi-file-document"></i>
        Resume
      </a>
    </nav>