<div class="menu-wrapper">
  <div class="material-menu">
    <div class="material-btn">
      <div class="material-hamburguer">
        <div class="material-patty"></div>
        <div class="material-patty"></div>
        <div class="material-patty"></div>
      </div>
    </div>
    <div class="material-content">
      <nav>
        <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
        </ul>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
      </nav>
    </div>
  </div>
</div>